include ../../../header

html
    head
        meta(property='og:title'       content='FUNEXT')
        meta(property='og:description' content='Functional Extensionality')
        meta(property='og:url'         content='https://groupoid.space/foundations/univalent/funext/')

block title
    title FUNEXT

block content
    article.main
        .om
            section
                h1 FUNEXT
                span.
                    $$\def\mapright#1{\xrightarrow{{#1}}}
                      \def\mapleft#1{\xleftarrow{{#1}}}
                      \def\mapup#1{\Big\uparrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapupl#1{\Big\uparrow\llap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdown#1{\Big\downarrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdownl#1{\Big\downarrow\llap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagl#1{\vcenter{\searrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagr#1{\vcenter{\swarrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                    $$
        aside <a href="https://homotopy.dev/library/">Homotopy Library</a>
            time Published: 25 JUL 2018
        .om
            section
                p.

                h2 Constructors
                code.
                    funext (A B: U) (f g: A -> B)
                           (p: (x:A) -> Path B (f x) (g x))
                         : Path (A -> B) f g
                p.

                h2 Elimination
                code.
                    happly (A B: U) (f g: A -> B) (p: Path (A -> B) f g) (x: A)
                         : Path B (f x) (g x)
                p.

                h2 Computation
                code.
                    funext_Beta (A B: U) (f g: A -> B)
                                (p: (x:A) -> Path B (f x) (g x))
                              : (x:A) -> Path B (f x) (g x)
                p.

                h2 Uniqueness
                code.
                    funext_Eta (A B: U) (f g: A -> B)
                               (p: Path (A -> B) f g)
                             : Path (Path (A -> B) f g) (funext A B f g (happly A B f g p)) p
                p.

                h2 Dependent Version
                code.
                    piext (A: U) (B: A -> U) (f g: (x: A) -> B x)
                          (p: (x: A) -> Path (B x) (f x) (g x))
                        : Path ((y: A) -> B y) f g
                p.

include ../../../footer
