
footer.footer
    a(href='https://homotopy.dev/library/')
       img.footer__logo(src='https://homotopy.dev/images/seal.png',width=50)
    span.footer__copy 2021&mdash;2022 &copy; <a href="//groupoid.space/" style="color:Lavender;">Groupoïd Infinity</a>
