
footer.footer
    a(href='https://homotopy.dev/library/')
       img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2016&mdash;2022 &copy; <a href="//5ht.co/" style="color:Lavender;">Namdak Tönpa</a>
    if hopf
        script(src='https://homotopy.dev/mathematics/homotopy/hopf/bundle.js')
    else
        script(src='https://homotopy.dev/bundle.js')
    script(src='https://homotopy.dev/highlight.js')
