include ../header

html
    head
        meta(property='og:title'       content='SPECIFICATION')
        meta(property='og:description' content='Anders Byte Code Assembler')
        meta(property='og:url'         content='https://homotopy.dev/specification/')

block title
    title SPECIFICATION

block content
    nav
        <a href='https://homotopy.dev/'>HTS</a>
        <a href='https://homotopy.dev/library/'>LIB</a>
        <a href='https://homotopy.dev/specification/'>SPEC</a>
    article.main
        .exe
            section
                h1 BINARY FORMAT
            aside
                time Published: 03 FEB 2022
                p.
                    Here is given a preliminary specification on Anders
                    binary byte code assembler (external term format).
            h2 COSMOS
            p.
                $$
                    \begin{array}{llll} \mathrm{Head} & \mathrm{Tail} & \mathrm{Instruction} \\
                         \hline
                         \texttt{01}_{16} & [] & \mathrm{Proof\ hole} \\
                         \texttt{02}_{16} & [ℕ] & \mathrm{Universe\ \mathcal{V}\ of\ pretypes} \\
                         \texttt{03}_{16} & [ℕ] & \mathrm{Fibrational\ \mathcal{U}\ universe\ of\ types} \\
                         \texttt{04}_{16} & [\mathrm{List}_ℕ] & \mathrm{Variable} \\
                    \end{array}
                $$

            h2 ΠΣ
            p.
                $$
                    \begin{array}{llll} \mathrm{Head} & \mathrm{Tail} & \mathrm{Instruction} \\
                         \hline
                         \texttt{10}_{16} & [ℕ,E,\mathrm{List}_ℕ,E] & \Pi\mathrm{-type} \\
                         \texttt{11}_{16} & [ℕ,E,\mathrm{List}_ℕ,E] & \lambda\mathrm{-function} \\
                         \texttt{12}_{16} & [E,E] & \mathrm{Function\ application} \\
                         \texttt{13}_{16} & [ℕ,E,\mathrm{List}_ℕ,E] & \Sigma\mathrm{-type} \\
                         \texttt{14}_{16} & [E,E] & \mathrm{Pair} \\
                         \texttt{15}_{16} & [E] & \mathrm{Projection}\ \pi_1 \\
                         \texttt{16}_{16} & [E] & \mathrm{Projection}\ \pi_2 \\
                         \texttt{17}_{16} & [E,\mathrm{List}_ℕ] & \mathrm{Field} \\
                    \end{array}
                $$

            h2 INTERVAL
            p.
                $$
                    \begin{array}{llll} \mathrm{Head} & \mathrm{Tail} & \mathrm{Instruction} \\
                         \hline
                         \texttt{20}_{16} & [E] & \mathrm{Id-type} \\
                         \texttt{21}_{16} & [E] & \mathrm{Id\ reflection\ introduction} \\
                         \texttt{22}_{16} & [E] & \mathrm{J\ eliminator} \\
                         \texttt{23}_{16} & [E] & \mathrm{PathP}\mathrm{-type} \\
                         \texttt{24}_{16} & [E] & \mathrm{Path}\ \lambda\mathrm{-function} \\
                         \texttt{25}_{16} & [E,E] & \mathrm{Path\ application\ formula} \\
                         \texttt{26}_{16} & [] & \mathrm{Explicit\ interval} \\
                         \texttt{27}_{16} & [] & \mathrm{Direction\ 0} \\
                         \texttt{28}_{16} & [] & \mathrm{Direction\ 1} \\
                         \texttt{29}_{16} & [E,E] & \mathrm{And} \\
                         \texttt{2A}_{16} & [E,E] & \mathrm{Or} \\
                         \texttt{2B}_{16} & [E] & \mathrm{Negation} \\
                    \end{array}
                $$

            h2 KAN
            p.
                $$
                    \begin{array}{llll} \mathrm{Head} & \mathrm{Tail} & \mathrm{Instruction} \\
                         \hline
                         \texttt{30}_{16} & [P,E] & \mathrm{Generalized\ transport} \\
                         \texttt{31}_{16} & [E,E,E,E] & \mathrm{Homogeneous\ composition} \\
                         \texttt{32}_{16} & [E] & \mathrm{Partial}\mathrm{-type} \\
                         \texttt{33}_{16} & [E,E] & \mathrm{PartialP}\mathrm{-type} \\
                         \texttt{34}_{16} & [E,E] & \mathrm{Cubical\ system} \\
                         \texttt{35}_{16} & [E,E,E] & \mathrm{Cubical\ subsystem} \\
                         \texttt{36}_{16} & [E,E] & \mathrm{Inc} \\
                         \texttt{37}_{16} & [E] & \mathrm{Ouc} \\
                         \texttt{38}_{16} & [E] & \mathrm{Glue}\mathrm{-type} \\
                         \texttt{39}_{16} & [E,E,E] & \mathrm{Glue\ eliminator} \\
                         \texttt{3A}_{16} & [E,E,E] & \mathrm{Unglue} \\
                    \end{array}
                $$


include ../footer
