include ../../../header

html
    head
        meta(property='og:title'       content='PI')
        meta(property='og:description' content='Dependent Product')
        meta(property='og:url'         content='https://groupoid.space/foundations/mltt/pi/')

block title
    title UNIVALENCE

block content
    article.main
        .exe
            section
                h1 EQUIV

        aside <a href="https://homotopy.dev/library/">Homotopy Library</a>
            time Published: 30 DEC 2018
        .exe
            section
                h1 UNIVALENCE

                p.
                    $$\def\mapright#1{\xrightarrow{{#1}}}
                      \def\mapleft#1{\xleftarrow{{#1}}}
                      \def\mapdown#1{\Big\downarrow\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagl#1{\vcenter{\searrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                      \def\mapdiagr#1{\vcenter{\swarrow}\rlap{\raise2pt{\scriptstyle{#1}}}}
                    $$

include ../../../footer
