include ../../../header

html
    head
        meta(property='og:title'       content='EQUIV')
        meta(property='og:description' content='Fibrational Equivalence')
        meta(property='og:url'         content='https://homotopy.dev/foundations/mltt/equiv/')

block title
    title UNIVALENCE

block content
    nav
        <a href='https://homotopy.dev/'>HTS</a>
        <a href='https://homotopy.dev/library/'>LIB</a>
        <a href='#'>EQUIV</a>
    article.main
        .exe
            section
                h1 EQUIV

        aside <a href="https://homotopy.dev/library/">Homotopy Library</a>
            time Published: 30 DEC 2018
        .exe
            section
                h1 UNIVALENCE

include ../../../footer
