include ../header

html
    head
        meta(property='og:title'       content='LIB')
        meta(property='og:description' content='Homotopy Library')
        meta(property='og:url'         content='https://homotopy.dev/library/')

block title
    title PROP

block content
    nav
        <a href='https://homotopy.dev/'>HTS</a>
        <a href='https://homotopy.dev/library/'>LIB</a>
    article.main
        .exe
            section
            h1 HOMOTOPY LIBRARY
            aside
                time Published: 29 JAN 2022
            p.
                Homotopy Library for <a href="https://homotopy.dev/">Anders</a>
                theorem prover consists of two parts Foundations and Mathematics just
                as <a href="https://hott.github.io/book/nightly/hott-online-1287-g1ac9408.pdf">HoTT Book</a>.

            h2 Foundations
            p.
                MLTT, Modal and Univalent Foundations represent a basic
                language primitives of <b>Anders</b> and its base library.

            section
                .macro
                    .macro__col
                        h3#mltt <b>MLTT</b>
                        ol
                            li: <a href='https://homotopy.dev/foundations/mltt/pi/'>Π</a>,
                                <a href='https://homotopy.dev/foundations/mltt/sigma/'>Σ</a>,
                                <a href='https://homotopy.dev/foundations/mltt/id/'>=</a>
                            li: <a href='https://homotopy.dev/foundations/mltt/inductive/'>0, 1, 2, W</a>
                            li: <a href='https://homotopy.dev/foundations/mltt/either/'>+</a>,
                                <a href='https://homotopy.dev/foundations/mltt/maybe/'>1+</a>
                            li: <a href='https://homotopy.dev/foundations/mltt/nat/'>N</a>,
                                <a href='https://homotopy.dev/foundations/mltt/list/'>LIST</a>
                            li: <a href='https://homotopy.dev/foundations/mltt/fin/'>FIN</a>,
                                <a href='https://homotopy.dev/foundations/mltt/vec/'>VEC</a>
                    .macro__col
                        h3#modal <b>MODAL</b>
                        ol
                            li: a(href='https://homotopy.dev/foundations/modal/derham/') DERHAM
                            li: a(href='https://homotopy.dev/foundations/modal/process/') PROCESS
                            li: a(href='https://homotopy.dev/foundations/modal/infinitesimal/') INFINITESIMAL
                    .macro__col
                        h3#univalent <b>UNIVALENT</b>
                        ol
                            li: a(href='https://homotopy.dev/foundations/univalent/equiv/') EQUIV
                            li: a(href='https://homotopy.dev/foundations/univalent/iso/') ISO
                            li: a(href='https://homotopy.dev/foundations/univalent/funext/') FUNEXT
                            li: a(href='https://homotopy.dev/foundations/univalent/path/') PATH
                            li: a(href='https://homotopy.dev/foundations/univalent/glue/') GLUE

            h2 Mathematics
            p.
                The second part is dedicated to mathematical models and theories internalized in this language.

            section
                .macro
                    .macro__col
                        h3#algebra <b>ALGEBRA</b>
                        ol
                            li: a(href='https://homotopy.dev/mathematics/algebra/algebra/') ALGEBRA
                            li: a(href='https://homotopy.dev/mathematics/algebra/homology/') HOMOLOGY
                    .macro__col
                        h3#geometry <b>GEOMETRY</b>
                        ol
                            li: a(href='https://homotopy.dev/mathematics/geometry/etale') ETALE
                            li: a(href='https://homotopy.dev/mathematics/geometry/bundle') BUNDLE
                            li: a(href='https://homotopy.dev/mathematics/geometry/manifold') MANIFOLD
                    .macro__col
                        h3#homotopy <b>HOMOTOPY</b>
                        ol
                            li: a(href='https://homotopy.dev/mathematics/homotopy/coequalizer/') COEQUALIZER
                            li: a(href='https://homotopy.dev/mathematics/homotopy/pushout/') PUSHOUT
                            li: a(href='https://homotopy.dev/mathematics/homotopy/pullback/') PULLBACK
                            li: a(href='https://homotopy.dev/mathematics/homotopy/hopf/') HOPF
                            li: a(href='https://homotopy.dev/mathematics/homotopy/cw/') CW
            section
                .macro
                    .macro__col
                        h3#categories <b>CATEGORIES</b>
                        ol
                            li: a(href='https://homotopy.dev/mathematics/categories/category/') CATEGORY
                            li: a(href='https://homotopy.dev/mathematics/categories/functor/') FUNCTOR
                            li: a(href='https://homotopy.dev/mathematics/categories/groupoid/') GROUPOID
                    .macro__col
                        h3#categories <b>TOPOI</b>
                        ol
                            li: a(href='https://homotopy.dev/mathematics/topoi/topos/') TOPOS
                            li: a(href='https://homotopy.dev/mathematics/topoi/presheaf/') PRESHEAF
            br.
            p.
                 The base library for <b>cubicaltt</b> is given on separate page:
                 <a href='https://groupoid.space/misc/library/'>Formal Mathematics: The Cubical Base Library</a><br>

include ../footer
