include ../../../header

html
    head
        meta(property='og:title'       content='EITHER')
        meta(property='og:description' content='Either')
        meta(property='og:url'         content='https://homotopy.dev/foundations/mltt/either/')

block title
    title EITHER

block content
    nav
        <a href='https://homotopy.dev/'>HTS</a>
        <a href='https://homotopy.dev/library/'>LIB</a>
        <a href='#'>EITHER</a>
    article.main.list
        section
            h1 EITHER
            aside <a href="https://homotopy.dev/library/">Homotopy Library</a>
                time Published: 4 NOV 2017
            p.
                <b>either</b> is a representation for sum types or disjunction.

            h2 Constructors
            h2 Eliminators
            h2 Induction Principle

include ../../../footer
